.banner1{
padding:20px;
width:100px;
height:100px;
margin:40;
position:relative;
top:-65px ; left:250px;
  }

.plan{
padding:20px;
width:100px;
height:100px;
margin:40;
position:relative;
top:-65px ; left:250px;
      }
.banner2{
padding:20px;
width:100px;
height:100px;
margin:40;
position:relative;
top:-65px ; left:250px;
   }
.bang {
padding:20px;
width:100px;
height:100px;
margin:40;
position:absolute;
top:-65px; left:250px;
}
.bant{
        padding:20px;
        width:100px;
        height:100px;
        margin:40;
        position:relative;
        top:-65px ; left:250px;
}