header{
    background:url(mecanismo.jfif)no-repeat;
    background-size:cover;
    height:250px;
    overflow:hidden;
    }
    h1{
    color:#fff;
    text-align:center;
    font-family:´bangers´,cursive;
    font-size:80px;
    text-shadow:5px 3px 8px #785;
    
    }
    
    
    /* Estilos CSS para los botones de menú */
    .menu {
        display: flex;
    }
    
    
    
    
    .menu-button:last-child {
        margin-right: 0;
    }
    
    /* Estilos CSS para las imágenes */
    .image-container {
        text-align: center;
    }
    
    .image {
        display: none;
    }
    
    .image.active {
        display: block;
    }
    body{
    margin:0;
    
    
    
    }
    /* Estilos CSS para el footer */
    footer {
        background-color: #333;
        color: #fff;
        text-align: center;
        padding: 20px 10px;
        width: 1600px;
        position: relative;
        top: 90px; left:-800px;
    }
    
    /* Estilos para el contenido del footer */
    .footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    /* Estilos para los botones de redes sociales */
    .social-icons {
        margin-bottom: 20px;
    }
    
    .social-icons a {
        margin: 0 10px;
        text-decoration: none;
    }
    
    /* Estilos para los enlaces en el footer */
    footer a {
        color: #fff;
        text-decoration: none;
    }
    
    /* Estilos para los enlaces en el hover */
    footer a:hover {
        text-decoration: underline;
    }
    
    /* Estilo para el banner en el encabezado */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.banner-container {
    position: relative;
    overflow: hidden;
}

.banner-slide {
    display: flex;
    animation: slide 10s infinite;
}

.banner-slide .slide {
    flex: 0 0 100%;
}

.banner-slide .slide img {
    width: 100%;
    height: auto;
}

/* Estilo para los botones de control */
.slide-controls {
    margin-top: 10px;
    text-align: center;
}

.slide-controls label {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: #777;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

/* Estilo para los botones de control seleccionados */
input[type="radio"]:checked + .slide-controls label {
    background-color: #f44336;
}

/* Estilo para ocultar los botones de radio */
input[type="radio"] {
    position: absolute;
    left: -9999px;
}

/* Animación del banner */
@keyframes slide { 
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(-200%);
    }
    75% {
        transform: translateX(-300%);
    }
    100% {
        transform: translateX(0);
    }
}
  